## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Node
node_modules/
dist/
npm-debug.log*

## IDE
.vs/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

## OS
Thumbs.db
.DS_Store

## Secrets & Config
.env
.env.*
!.env.example
docker-compose.yml
appsettings.json
*.key
*.pem
*.ppk
security/
keys/
deploy.ps1
